#body{
    color:black;
}
#body h2{
    border:1px solid black;
}
#body h3,h1{
    border-radius: 10px;
border:solid black;
}
h2,h3{
    background-color: aqua;
    border-radius: 10px;
}
h1{
    text-align: center;
    
}